# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.lck
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
Arcade 2040/export/
C64 Joykey 2040/export/
Adapter 9 from 2040/export/
faceplates/C64 Joykey Faceplate X1 Robocop/